@import 'common/style/variable.scss';

.bottom-page {
  &__step-cont {
    width: 100%;
    position: relative;
    background-color: $yellow;
    &:after {
      content: '';
      background-color: #f6d719;
      transform: skewY(-1.5deg);
      position: absolute;
      width: 100%;
      height: 229px;
      left: 0;
      border-bottom: 10px solid white;
      bottom: -158px;
      z-index: 1;
    }
  }
}

// @media all and (max-width: 1600px) {
//   .bottom-page {
//     &__step-cont {
//       &:after {
//         height: 100px;
//       }
//     }
//   }
// }

@media all and (max-width: 767px) {
  // mobile //

  // mobile-end //
}