@import 'common/style/variable.scss';

// desktop-top-page //
.top-page {
  height: 100vh;
  position: relative;
  &_desktop {
    min-height: 47vw;
  }
  &__background-img {
    position: absolute;
    width: 100%;
    height: 120%;
    object-fit: cover;
    object-position: 50% 50%;
  }
  &__sadochek-img {
    position: absolute;
    top: 0;
    right: 7%;
    width: 49%;
  }
  &__table-img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &__action-group {
    position: relative;
    height: 100%;
    width: 50%;

    .top-page__action-img {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(0, -62%);
      width: 52%;
    }

    .top-page__pack-img {
      position: absolute;
      bottom: 0;
      transform: translate(0, -38%);
      width: 42%;
      left: 0;
    }
    .top-page__hedgehog-img {
      position: absolute;
      bottom: 0;
      transform: translate(0, -37%);
      width: 62%;
      left: 10%;
    }
  }
  &__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $yellow;
    &:before {
      content: '';
      background-color: $yellow;
      transform: skewY(-1deg);
      position: absolute;
      width: 100%;
      height: 50%;
      left: 0;
      top: -24px;
      border-top: 10px solid white;
    }
  }
}
// desktop-top-page-end //

@media all and (max-width: 1024px) {
  // tablet-horizontal //
  .top-page_tablet.top-page_horizontal {
    min-height: 56vw;
  }
  .top-page {
    &__background-img {
      object-position: 60% 50%;
    }
    &__sadochek-img {
      width: 49%;
    }
    &__table-img {
      transform: translate(0, -20%);
    }
    &__action-group {
      .top-page__action-img {
        right: -3.2%;
        transform: translate(0, -94%) rotate(15deg);
      }
      .top-page__pack-img {
        transform: translate(0, -65%);
      }
      .top-page__hedgehog-img {
        transform: translate(0, -82%);
        left: 11%;
      }
    }
    &__footer {
      &:before {
        border-top: 6px solid white;
      }
    }
  }
  // tablet-horizontal-end //

  // tablet-vertical //
  .top-page_tablet.top-page_vertical {
    min-height: 110vw;

    .top-page__sadochek-img {
      width: 81%;
      right: 10%;
    }
    .top-page__table-img {
      transform: translate(0, -27%);
    }
    .top-page__action-group {
      width: 100%;
      .top-page__hedgehog-img {
        transform: translate(0, -55%);
        width: 60%;
        left: 12%;
      }
      .top-page__action-img {
        right: 3.8%;
        transform: translate(0, -91%) rotate(15deg);
        width: 42%;
      }
    }
  }
  // tablet-vertical-end //
}


@media all and (max-width: 767px) {
  // mobile //
  .top-page {
    &_mobile {
      min-height: 150vw;
    }
    &__background-img {
      height: 100%;
      object-position: 0% 50%;
    }
    .top-page__sadochek-img {
      width: 106%;
      right: 0;
    }
    &__table-img {
      width: 182%;
      transform: translate(-24%, 0);
    }
    &__action-group {
      width: 100%;
      .top-page__action-img {
        width: 57.5%;
        right: 2%;
        transform: translate(0, -46%) rotate(15deg);
      }
      .top-page__hedgehog-img {
        width: 66%;
        transform: translate(0, -26%);
        left: -4%;
      }
    }
    &__footer {
      padding-top: 8%;
      &:before {
        content: '';
        top: -6px;
      }
    }
  }
  // mobile-end //
}
